<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <p class="h1">Издательства</p>
    <ul class="list-unstyled">
        {% for publisher in publishers %}
        <li>
            <strong>{{publisher.name}}.</strong> Всего книг: {{ publisher.book__count}}
            <ul>
                {% if publisher.book__count > 0 %}
                    {% for book in books %}
                        {% if book.publisher == publisher %}
                            <li class="publisher_book_item">{{book.title}}</li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <small>Sorry, no books in this list.</small>
                {% endif %}
            </ul>
        </li>
        {% empty %}
        Sorry, no publishers in this list.
        {% endfor %}
    </ul>
</div>
</body>
</html>